@font-face {
    font-family: "Babas neue";
    src: url('./fonts/BebasNeue.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter Bold";
    src: url('./fonts/Inter-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: "Inter Medium";
    src: url('./fonts/Inter-Medium.woff2');
    font-weight: 500;
}


body {
    background-color: rgb(233, 233, 233);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

ul,ol,li {
    list-style-type: none;
}



.wrapper {
    padding: 20px;
    
}

.accordion {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.accordion__header-text {
    font-family: "Babas neue";
    font-size: 60px;
    text-transform: uppercase;
}

.accordion__list{
    font-family: "Inter Medium";
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

.accordion__item {
    box-shadow: 0px 6px 11px -2px rgb(206, 205, 205);
    background-color: white;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    border: 1px solid rgb(208, 207, 207);
    
}

.accordion__question-header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgb(208, 207, 207);
    height: 50px;
}

.accordion__question {
    font-family: "Inter Bold";
    font-size: 14px;
}

.accordion__question-main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-top: none;
    overflow: hidden;
    opacity: 1;
}



.accordion__answer{
    font-size: 12px;
    line-height: 1.4;
}

.accordion__button {
    background-color: #FF8A00;
    color: white;
    border: none;
    padding: 6px 14px ;
    font-size: 12px;
    width: 90px;
    border-radius: 5px;
}

.accordion__down,
.accordion__up {
    width: 10px;
}

.accordion__down {
    transform: rotate(0deg);
}

.rotate-up {
    animation: rotateUpAnimation .9s forwards ease;
}

.rotate-down {
    animation: rotateDownAnimation .9s forwards ease;
}

.hidden {
    display: none;
}

.open {
    
    animation: openAnimation .9s forwards ease;
}

.close {
    animation: closeAnimation .9s forwards ease
}

@keyframes openAnimation {
    0% {
        
        height: 50px;
    }

    20% {
        height: 45px;
    }

    80% {
        /* height: 205px; */
        height: var(--myHeightPlusFive);
    }
    100% {
        /* height: 200px; */
        height: var(--myHeight);
    }
}

@keyframes closeAnimation {
    0% {
        height: var(--myHeight);
    }

    20% {
        height: var(--myHeightPlusFive);
    }

    80% {
        height: 45px;
    }

    100% {
        height: 50px;
    }
}

@keyframes rotateUpAnimation {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(190deg);
    }

    100% {
        transform: rotate(180deg);
    }
}